@model levelEditor.Models.Game
@{
    ViewData["Title"] = "Contact";
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<div class="row">
    <div class="col-sm-7 col-xs-12">
        <iframe src="@Model.Url" style="height:480px;width:100%" scrolling="no"></iframe>
    </div>

</div>
