@model levelEditor.Models.Game
@{
    ViewData["Title"] = "Contact";
  

}

<h2 class="text-white">@Model.Name</h2>
<p class="text-white">@Model.Description</p>
<button id="toggle_fullscreen" type="button" class="btn btn-primary"><i class="fa fa-arrows-alt"></i></button>

<div class="row">
    <div class="col-sm-7 col-xs-12">
        <iframe id="iframe" src="@Model.Url" style="height:480px;width:100%" scrolling="no"></iframe>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">


        $(document).ready(function () {
            $('#toggle_fullscreen').on('click', function () {
                // if already full screen; exit
                // else go fullscreen
                if (
                    document.fullscreenElement ||
                    document.webkitFullscreenElement ||
                    document.mozFullScreenElement ||
                    document.msFullscreenElement
                ) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                } else {
                    element = $('#iframe').get(0);
                    if (element.requestFullscreen) {
                        element.requestFullscreen();
                    } else if (element.mozRequestFullScreen) {
                        element.mozRequestFullScreen();
                    } else if (element.webkitRequestFullscreen) {
                        element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                    } else if (element.msRequestFullscreen) {
                        element.msRequestFullscreen();
                    }
                }
            });
        });
        </script>
}
