@model IEnumerable<levelEditor.Models.Game>

@{
    ViewData["Title"] = "Home Page";
}

<section class="normal-breadcrumb set-bg" data-setbg="images/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2 class="text-white">Spirit Filled Games</h2>
                    <p class="text-white">A collection of fun Bible based Christian games!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="images/game-icons/bkg.png">
                            <div class="blog__item__text">

                                <h2 class="text-white" style="font-weight:bolder;text-shadow: 2px 2px 2px #000;"><a class="text-white" asp-action="Game" asp-route-id="1">Bible Knowledge Games</a></h2>
                                <br/>
                                <a asp-action="Game" asp-route-id="1" class="btn btn-lg btn-primary">PLAY <i class="fa fa-play-circle"></i></a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/coming_soon_285.png">
                            <div class="blog__item__text">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/aaron.png">
                            <div class="blog__item__text">
                                <h4 class="text-white" style="font-weight:bolder"><a class="text-white" asp-action="Game" asp-route-id="5">Breastplate of Aaron</a></h4>
                                <a asp-action="Game" asp-route-id="5" class="btn btn-primary"><i class="fa fa-play-circle fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="images/game-icons/shootingpromises.jpg">

                            <div class="blog__item__text">
                                <h4 class="text-white" style="font-weight:bolder"><a class="text-white" asp-action="Game" asp-route-id="5">Shooting Promises</a></h4>
                                <a asp-action="Game" asp-route-id="6" class="btn btn-primary"><i class="fa fa-play-circle fa-2x"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/coming_soon_285.png">
                            <div class="blog__item__text">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/coming_soon_580.png">
                            <div class="blog__item__text">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/bibleslide.png">
                            <div class="blog__item__text">

                                <h4 class="text-white" style="font-weight:bolder"><a class="text-white" asp-action="Game" asp-route-id="3">Slide Puzzle</a></h4>
                                <a asp-action="Game" asp-route-id="3" class="btn btn-primary"><i class="fa fa-play-circle fa-2x"></i></a>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/biblematch.png">
                            <div class="blog__item__text">

                                <h4 class="text-white" style="font-weight:bolder"><a asp-action="Game" asp-route-id="2">Character Match</a></h4>
                                <a asp-action="Game" asp-route-id="2" class="btn btn-primary"><i class="fa fa-play-circle fa-2x"></i></a>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="images/game-icons/onward-christian.png">
                            <div class="blog__item__text">

                                <h2 style="font-weight:bolder;text-shadow: 2px 2px 2px #000;color:goldenrod"><a style="color:goldenrod" asp-action="Game" asp-route-id="4">Onward Christian Soldier</a></h2>
                                <h4 class="text-white" style="text-shadow: 2px 2px 2px #000"><strong>PROTOTYPE</strong></h4>
                                <br />
                                <a asp-action="Game" asp-route-id="4" class="btn btn-lg btn-primary text-white">VIEW <i class="fa fa-play-circle"></i></a>

                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/coming_soon_285.png">
                            <div class="blog__item__text">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg" data-setbg="images/game-icons/coming_soon_285.png">
                            <div class="blog__item__text">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="images/game-icons/coming_soon_580.png">
                            <div class="blog__item__text">
                                TEST
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

